<h1>Conditions</h1>

<% if current_admin? %>
  <%= link_to new_admin_condition_path do %>
    <h4><i class="fas fa-sun dashboard-icon"></i>Create condition</h4>
  <% end %>
<% end %>


<div class="row">
  <div class="col-sm-1">


  </div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-2 mean-row">
    <p><strong>Temp(f)</strong><p>
  </div>
  <div class="col-sm-4 mean-row">
    <p><strong>Mean</strong><p>
  </div>
  <div class="col-sm-3">
  </div>
</div>

<div class="row table-heading">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-2">
    <p>Date<p>
  </div>
  <div class="col-sm-1 table-border">
    <p>max</p>
  </div>
  <div class="col-sm-1">
    <p>min</p>
  </div>
  <div class="col-sm-1 table-border">
    <p>temp(f)<p>
  </div>
  <div class="col-sm-1">
    <p>humidity<p>
  </div>
  <div class="col-sm-1">
    <p>visibility(mi)<p>
  </div>
  <div class="col-sm-1">
    <p>wind(mph)<p>
  </div>
  <div class="col-sm-1 table-border">
    <p>precipitation(in)<p>
  </div>
</div>

<div class="index-container trips-container">
  <% @conditions.each do |condition| %>
  <section class="section-index-container">
  <div class="row station-row">
    <div class="col-sm-1 icon-column">

        <% if current_user&.admin? %>
          <%= link_to edit_admin_condition_path(condition) do %>
              <i class="far fa-edit link-text">
              <p class="hidden">Edit</p></i>
          <% end %>
          <%= link_to admin_condition_path(condition), method:"delete", data: {confirm: "Are you sure you want to delete the weather for #{condition.date}?"} do %>
            <i class="far fa-trash-alt"></i>
            <p class="hidden">Delete</p>
          <% end %>
      <% end %>
        <%= link_to condition_path(condition) do %>
          <i class="fas fa-info-circle"></i>
          <p class="hidden">Info</p>
        <% end %>
    </div>
    <div class="col-sm-2">
      <p> <%= condition.date.to_s.chomp("00:00:00 UTC") %>
    </div>
    <div class="col-sm-1">
      <p><%= condition.max_temperature_f %></p>
    </div>
    <div class="col-sm-1">
      <p><%= condition.min_temperature_f %></p>
    </div>
    <div class="col-sm-1">
      <p><%= condition.mean_temperature_f %></p>
    </div>
    <div class="col-sm-1">
      <p><%= condition.mean_humidity %></p>
    </div>
    <div class="col-sm-1">
      <p><%= condition.mean_visibility_miles %></p>
    </div>
    <div class="col-sm-1">
      <p><%= condition.mean_wind_speed_mph %></p>
    </div>
    <div class="col-sm-1">
      <p><%= condition.precipitation_inches %></p>
    </div>
  </div>
  </section>
  <% end %>
</div>

<div class="styled_pagination">
  <div class="page_info">
    <%= page_entries_info @trips %>
  <br/>
    <%= will_paginate @trips, :container => false %>
  </div>
</div>
