<h2>Profile for <%= current_user.username %></h2>

<% if current_user %>
  <div class="edit-container">
    <%= link_to edit_user_path(current_user) do %>
        <i class="far fa-edit link-text">
        <p class="hidden">Edit</p></i>
    <% end %>
  </div>
<% end %>

<p><strong>First name:</strong></p>
<p><%= current_user.first_name %></p>
<p><strong>Last name:</strong></p>
<p><%= current_user.last_name %></p>

<% @orders.each do |order| %>

<p>Order ID: <%=link_to order.id, order_path(order) %></p>

<% end %>
