<h1> Trips</h1>

<div class="row table-heading">
  <div class="col-sm-1">
    <p>Duration</p>
  </div>
  <div class="col-sm-3">
    <p>Start station</p>
  </div>
  <div class="col-sm-1">
    <p>Start date</p>
  </div>
  <div class="col-sm-3">
    <p>End station</p>
  </div>
  <div class="col-sm-1">
    <p>End date</p>
  </div>
  <div class="col-sm-2">
    <p>Subscription type</p>
  </div>
  <div class="col-sm-1">
    <p>zip code</p>
  </div>
</div>

<div class="index-container">
<% @trips.each do |trip| %>
<div class="row station-row">
  <div class="col-sm-1">
    <p><%= trip.duration %></p>
  </div>
  <div class="col-sm-3">
    <p><%= trip.start_station.name %></p>
  </div>
  <div class="col-sm-1">
    <p><%= trip.start_date %></p>
  </div>
  <div class="col-sm-3">
    <p><%= trip.end_station.name %></p>
  </div>
  <div class="col-sm-1">
    <p><%= trip.end_date %></p>
  </div>
  <div class="col-sm-2">
    <p><%= trip.subscription_type %></p>
  </div>
  <div class="col-sm-1">
    <p><%= trip.zip_code %></p>
  </div>
</div>
<% end %>
</div>

<div class="styled_pagination">
  <div class="page_info">
    <%= page_entries_info @trips %>
  <br/>
    <%= will_paginate @trips, :container => false %>
  </div>
</div>
