<h2> Trip: <%= @trip.id %></h2>

<p><strong>Duration:</strong><p>
<p><%= @trip.seconds_to_time(@trip.duration) %></p>

<p><strong>Start Date:</strong></p>
<%= @trip.start_date %></p>

<p><strong>Start Station:</strong></p>
<p><%= @trip.start_station.name %></p>

<p><strong>End Date:</strong></p>
<p><%= @trip.end_date %></p>

<p><strong>End Station:</strong></p>
<p><%= @trip.end_station.name%></p>

<p><strong>Bike ID:</strong></p>
<p><%= @trip.bike_id %></p>

<p><strong>Subscription Type:</strong></p>
<p><%= @trip.subscription_type %></p>

<p><strong>Zip Code:</strong></p>
<p><%= @trip.zip_code %></p>

<% if current_admin? %>
  <%= link_to 'Edit Trip', edit_admin_trip_path(@trip) %>
<% end %>
