<h2> Stations Dashboard</h2>

<div class="row">
  <div class="col-sm-6">
  <h3>Station information</h3>
  <p><strong>Total Stations:</strong></p>
  <p class="hidden"><%= @total %></p>
  <p>
    <% @total.times do %>
      <i class="fas fa-building dashboard-icon"></i>
    <% end %>

  </p>

  <p><strong>Newest station:</strong></p>
  <p><%= @newest %></p>

  <p><strong>Oldest station:</strong></p>
  <p><%= @oldest %> </p>
  </div>
  <div class="col-sm-6">
    <h3>Station bike information</h3>
      <p><strong>Average Bikes Per Station:</strong></p>
      <p class="hidden"><%= @average_bikes %></p>
      <p>
          <% @average_bikes.to_i.times do %>
            <i class="fas fa-bicycle"></i>
          <% end %>

      </p>
      <p><strong><%= @most_bikes_station %> has the most bikes:</strong></p>
      <p class="hidden"><%= @most_bikes %></p>

      <p>
      <% @most_bikes.times do %>
        <i class="fas fa-bicycle"></i>
      <% end %>
      </p>
      <p><strong><%= @fewest_bikes_station %> has the least bikes:</strong></p>
      <p class="hidden"><%= @fewest_bikes%></p>

      <p>
      <% @fewest_bikes.times do %>
        <i class="fas fa-bicycle"></i>
      <% end %>
      </p>
    </div>
</div>
