<p>Total Stations: <%= @total %></p>
<p>Average Bikes Per Station: <%= @average_bikes %></p>
<p>The highest number of bikes is <%= @most_bikes %> at <%= @most_bikes_station %></p>
<p>The lowest number of bikes is <%= @fewest_bikes %> at <%= @fewest_bikes_station %></p>
<p>The newest station is <%= @newest %></p>
<p>The oldest station is <%= @oldest %> </p>
