<h1> Stations</h1>


<% if current_admin? %>
  <%= link_to new_admin_station_path do %>
    <h4><i class="fas fa-building dashboard-icon"></i>Create station</h4>
  <% end %>
<% end %>

<div class="row table-heading">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-4">
    <p>Name<p>
  </div>
  <div class="col-sm-2">
    <p>Dock count<p>
  </div>
  <div class="col-sm-2">
    <p>City<p>
  </div>
  <div class="col-sm-3">
    <p>Installation date<p>
  </div>
</div>

<div class="index-container">
<% @stations.each do |station| %>
<section class="section-index-container" id=<%= "display_#{station.id}" %>>
  <div class="row station-row">
    <div class="col-sm-1 icon-column">
      <% if current_user&.admin? %>
      <%= link_to edit_admin_station_path(station), method: :get do %>
      <i class="far fa-edit"></i>
      <p class="hidden">Edit</p>
      <% end %>
        <%= link_to admin_station_path(station), method:"delete", data: {confirm: "Are you sure you want to delete #{station.name} Station?"} do %>
          <i class="far fa-trash-alt"></i>
          <p class="hidden">Delete</p>
        <% end %>
      <% end %>
        <%= link_to station_path(station) do %>
          <i class="fas fa-info-circle"></i>
          <p class="hidden">Info</p>
        <% end %>
    </div>
      <div class="col-sm-4">
        <p><%= station.name %></p>
    </div>
    <div class="col-sm-2">
      <p><%= station.dock_count %></p>
    </div>
    <div class="col-sm-2">
      <p><%= station.city %></p>
    </div>
    <div class="col-sm-3">
      <p><%= station.installation_date.to_s.chomp("00:00:00 UTC") %></p>
    </div>
  </div>
  </section>
<% end %>
</div>
