<section id="new-user">
<h3>Make an account</h3>

<div class="all-forms">
  <%= form_for @user do |f| %>
      <%= f.label "first name" %>
    <div class="form-group">
      <%= f.text_field :first_name%>
    </div>
      <%= f.label "last name" %>
    <div class="form-group">
      <%= f.text_field :last_name %>
    </div>
      <%= f.label "address" %>
    <div class="form-group">
      <%= f.text_field :address %>
    </div>
      <%= f.label "city" %>
    <div class="form-group">
      <%= f.text_field :city %>
    </div>
      <%= f.label "state" %>
    <div class="form-group">
      <%= f.text_field :state %>
    </div>
      <%= f.label "zip_code" %>
    <div class="form-group">
      <%= f.number_field :zip_code %>
    </div>
      <%= f.label "username" %>
    <div class="form-group">
      <%= f.text_field :username %>
    </div>
      <%= f.label :password %>
    <div class="form-group">
      <%= f.password_field :password %>
    </div>
    <section class="main-button create-account">
    <a>
      <%= f.submit "Create Account", class:"text reset-button" %>
      <span class="line -right"></span>
      <span class="line -top"></span>
      <span class="line -left"></span>
      <span class="line -bottom"></span>
    </a>
  </div>
</div>
<% end %>
</div>
</section>
