<% @order.order_accessories.each do |order_accessory| %>
  <h3><%= order_accessory.accessory.name %>:</h3>
  <p>Quantity: <%= order_accessory.quantity %></p>
  <p>Subtotal: <%= order_accessory.subtotal %></p>
<% end %>

<p>Total: <%= @order.total %></p>
<p>Status: <%= @order.status %></p>
