<h2>Order <%= @order.id %></h2>

<div class="row">
  <div class="col-sm-4">
    <h4>Status: <%= @order.status %></h4>
    <h4>Ordered: <%= @order.created_at %></h4>
    <% if @order.status == "completed" ||  @order.status == "cancelled" %>
      <h4>Updated at: <%= @order.updated_at %> </h4>
    <% end %>
  </div>
  <div class="col-sm-6">
    <p class="important-text"><strong>Name:</strong></p>
    <p><%= @order.user.full_name %> </p>
    <p class="important-text"><strong>Address:</strong></p>
    <p><%= current_user.address %>, <%= current_user.city %></p>
    <p><%= current_user.state %>, <%= current_user.zip_code %></p>
  </div>
</div>

<h3 class="dashboard-heading"> Accessories </h3>

<div class="row table-heading">
    <div class="col-sm-3">
      <p>Name</p>
    </div>
    <div class="col-sm-2">
      <p>Quantity</p>
    </div>
    <div class="col-sm-2">
      <p>Subtotal</p>
    </div>
  </div>
</div>
<div class="index-container trips-container">
  <% @order.order_accessories.each do |order_accessory| %>
    <section class="section-index-container">
      <div class="row station-row">
        <div class="col-sm-3">
          <p><%= link_to order_accessory.accessory.name, accessory_path(order_accessory.accessory) %></p>
        </div>
        <div class="col-sm-2">
          <p><%= order_accessory.quantity %></p>
        </div>
        <div class="col-sm-2">
          <p><%= number_to_currency(order_accessory.subtotal) %></p>
        </div>
      </div>
    </div>
  </section>
<% end %>
</div>
<br>
<div class="row">
  <div class="col-sm-5">

  </div>
  <div class="col-sm-2">
    <h4>Total: <%= number_to_currency(@order.total)%></h4>
  </div>
</div>
