<head>
  <script>
    var accessories = {};
    <% @accessories.each do |accessory| %>
      accessories[<%= accessory.id %>] = {};
      accessories[<%= accessory.id %>].quantity = <%= @cart.contents[accessory.id.to_s] %>
      accessories[<%= accessory.id %>].price = <%= accessory.price %>
    <% end %>
  </script>
  <%= javascript_include_tag "cart" %>
</head>

<body onload="display_quantity();">
<% @accessories.each do |accessory| %>
  <p id=<%= "display_#{accessory.id}" %>>

    <%= image_tag(accessory.image_url, size: "100x100") %>

    <br/>

    name: <%= accessory.name %>

    <br/>

    price: <%= accessory.price %>

    <br/>

    quantity:
    <button onclick=<%= "decrement(#{accessory.id});" %>>-</button>
    <nobr id=<%= "#{accessory.id}_quantity" %>></nobr>
    <button onclick=<%= "increment(#{accessory.id});" %>>+</button>

    <br/>
    subtotal: <nobr id=<%= "#{accessory.id}_subtotal" %>></nobr>

    <form id=<%= "remove_#{accessory.id}" %> action="/cart/remove_item", method="post">
      <% @accessories.each do |sub_accessory| %>
        <input type="hidden" id=<%= "remove_accessory_#{sub_accessory.id}" %> name=<%= "accessory_#{sub_accessory.id}" %> value="" />
      <% end %>
      <input type="hidden", name="accessory_id", value=<%= accessory.id %> />
      <input type="submit" value="Remove"/>
    </form>
  </p>
<% end %>

<form id="submit_final_values" action="/orders" method="post">
  <% @accessories.each do |accessory| %>
    <input type="hidden" id=<%= "accessory_#{accessory.id}" %> name=<%= "accessory_#{accessory.id}" %> value="" />
  <% end %>
  <% if current_user %>
    <input type="submit" value="Checkout" />
  <% end %>
</form>

total: <nobr id="total"></nobr>

</body>
