<% @accessories.each do |accessory| %>
  <p>
    <%= image_tag(accessory.image_url) %>
    name: <%= accessory.name %>
    price: <%= accessory.price %>
    quantity: <%= @cart.contents[accessory.id.to_s] %>
    subtotal: <%= @cart.subtotal(accessory) %>
  </p>
<% end %>

total: <%= @cart.total(@accessories) %>

<%= link_to "Checkout", root_path %>
