<head>
  <script>
    var accessories = {};
    <% @accessories.each do |accessory| %>
      accessories[<%= accessory.id %>] = {};
      accessories[<%= accessory.id %>].quantity = <%= @cart.contents[accessory.id.to_s] %>
      accessories[<%= accessory.id %>].price = <%= accessory.price %>
    <% end %>
  </script>
  <%= javascript_include_tag "cart" %>
</head>

<body onload="display_quantity();" onclick="update();">
<% @accessories.each do |accessory| %>
  <p id=<%= "display_#{accessory.id}" %>>

    <%= image_tag(accessory.image_url, size: "100x100") %>

    <br/>

    name: <%= accessory.name %>

    <br/>

    price: <%= accessory.price %>

    <br/>

    quantity:
    <button onclick=<%= "decrement(#{accessory.id});" %>>-</button>
    <nobr id=<%= "#{accessory.id}_quantity" %>></nobr>
    <button onclick=<%= "increment(#{accessory.id});" %>>+</button>

    <br/>
    subtotal: <nobr id=<%= "#{accessory.id}_subtotal" %>></nobr>
    <nobr id=<%= "remove_#{accessory.id}" %> >
      <%= link_to "Remove", cart_remove_item_path(accessory_id: "#{accessory.id}"), method: :post %>
    </nobr>
  </p>
<% end %>

<% if current_user && @cart.total(@accessories) > 0 %>
  <%= link_to "Checkout", orders_path, method: :post %>
<% end %>

total: <nobr id="total"></nobr>

<form id="exit_values" action="/cart" method="post">
  <% @accessories.each do |accessory| %>
    <input type="hidden" id=<%= "update_accessory_#{accessory.id}" %> name=<%= "accessory_#{accessory.id}" %> value="" />
  <% end %>
</form>

</body>
